@charset "utf-8";

.slide_cover {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide_cover>div{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 400px;
    min-width: 1200px;
    background-image: url("../image/comunity/review_cover.jpg");
    background-size: cover;
}
.slide_cover>div>p:first-child {
    position: absolute;
    font-family: "Bodoni Bd BT", 'san-serif';
    font-size: 35px;
    top: 150px;
    left: 250px;
    color: #ffffff;
    letter-spacing: 1px;
}
.slide_cover>div>p:last-child {
    position: absolute;
    font-size: 17px;
    top:200px;
    left: 250px;
    color: #ffffff;
}

/* //상품 리뷰 영역 */

.text_review {
    width: 1200px;
    height: 700px;
    position: relative;
    padding-top: 60px;
}
.text_review>h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
    padding-bottom: 20px;
    font-family: "S-CoreDream-4Regular","Nanum gothic";

}

.text_review>ul {
    width: 1200px;
    height: 45px;
    border-top: 1px solid #878787;
    text-align: center;
}
.text_review>ul>li {
    float: left;
    height: 45px;
    line-height: 45px;
    /* background-color:#e0e0e0; */
    line-height: 45px;
    font-size: 13px;
    font-family: "S-CoreDream-4Regular","Nanum gothic";
}
.text_review>ul>li:first-child{
    width: 100px;
}
.text_review>ul>li:nth-child(2){
    width: 100px;
}
.text_review>ul>li:nth-child(3){
    width: 630px;
    padding-left:20px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}
.text_review>ul>li:nth-child(4){
    width: 130px;
}
.text_review>ul>li:nth-child(5){
    width: 100px;
}
.text_review>ul>li:last-child{
    width: 140px;
}
.text_review>ul:nth-child(3)>li {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    font-family: "S-CoreDream-5Medium","Nanum gothic";
}
.text_review>ul:nth-child(3)>li:last-child{
    width: 140px;
    padding: 0px;
}
.text_review>ul:nth-child(3)>li:nth-child(3){
    text-align: center;
}
.text_review>ul:last-child{
    border-bottom: 1px solid #878787;
}
.small_review>li:nth-child(3)>a{
    font-size: 13px;
    font-family: "S-CoreDream-4Regular","Nanum gothic";
}
.small_review>li:nth-child(3):after{
    position: relative;
    content:"";
    left: 10px;
    top: 5px;
    background: url("../image/comunity/lock.png")no-repeat 0 0;
    width: 30px;
    height: 30px;
    display: inline-block;
}
